.project-header {
    background: white;

    padding: 25px;

    border-radius: 10px;

    margin-bottom: 30px;

    box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.08);
}

.project-header > a {
    text-decoration: none;

    font-size: 14px;
}

.project-header h2 {
    margin-bottom: 10px;

    font-size: 30px;
}

.project-header p {
    color: #555;

    margin-bottom: 10px;
}

.project-header small {
    color: #888;
}


/* Project Actions */

.project-actions {
    display: flex;

    align-items: center;

    gap: 10px;

    margin-top: 20px;
}

.project-actions form {
    padding: 0;

    margin: 0;

    background: transparent;

    box-shadow: none;
}

.delete-button {
    background: #dc2626;
}

.delete-button:hover {
    background: #b91c1c;
}


/* Task Header */

.task-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 10px;
}

.task-header h2 {
    margin-bottom: 5px;
}

.task-header p {
    margin-top: 0;

    color: #6b7280;
}