<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Project</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/base.css') }}">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/navbar.css') }}">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/forms.css') }}">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body>

    <nav class="navbar">
        <h1>Project Manager</h1>

        <a href="{{ url_for('dashboard') }}">
            Dashboard
        </a>
    </nav>


    <main class="dashboard">

        <h2>Edit Project</h2>

        <form method="POST">

            <div>
                <label for="name">
                    Project Name
                </label>

                <input
                    type="text"
                    id="name"
                    name="name"
                    value="{{ project['name'] }}"
                    required
                >
            </div>


            <div>
                <label for="description">
                    Description
                </label>

                <textarea
                    id="description"
                    name="description"
                    rows="5"
                >{{ project['description'] }}</textarea>
            </div>


            <button type="submit">
                Save Changes
            </button>

        </form>

    </main>

</body>

</html>